<extend name="Layout:base"/>
<block name="content">
    <h1>
        <span class="action-span"><a href="{:U('index')}">商品菜单</a></span>
        <span class="action-span1"><a href="__GROUP__">啊咿呀哟 管理中心</a></span>
        <span id="search_id" class="action-span1"> - 添加菜单 </span>
        <div style="clear:both"></div>
    </h1>
    <div class="main-div">
        <form action="{:U('')}" method="post" name="theForm" enctype="multipart/form-data">
            <table width="100%" id="general-table">
                <tr>
                    <td class="label">菜单名称:</td>
                    <td>
                        <input type='text' name='name' maxlength="20" value='{$row.name}' size='27' /> <font color="red">*</font>
                    </td>
                </tr>
                <tr>
                    <td class="label">path:</td>
                    <td>
                        <input type='text' name='path' value='{$row.path}' size='27' placeholder='如非菜单需要填写'/>
                    </td>
                </tr>
                <tr>
                    <td class="label">上级菜单:</td>
                    <td>
                        <input type="hidden" name='parent_id' id="parent_id" value=""/>
                        <input type="text" id="parent_name" value="请选择" disabled="disabled" style="padding-left:5px;"/>
                        <ul id='goods-categories-tree' class='ztree' style='height:auto;'></ul>
                    </td>
                </tr>
                <tr>
                    <td class="label">关联权限:</td>
                    <td>
                        <div id="permission-id"></div>
                        <ul id='permission-tree' class='ztree' style='height:auto;'></ul>
                    </td>
                </tr>
                <tr>
                    <td class="label">排序:</td>
                    <td>
                        <input type="text" name='sort' value="{$row.sort|default=50}" size="15" />
                    </td>
                </tr>
                <tr>
                    <td class="label">是否显示:</td>
                    <td>
                        <input type="radio" name="status" value="1" class='status'/> 是 
                        <input type="radio" name="status" value="0" class='status'/> 否
                    </td>
                </tr>
                <tr>
                    <td class="label">简介:</td>
                    <td>
                        <textarea name="intro" style='width:300px;height:100px'>{$row.intro}</textarea>
                    </td>
                </tr>
            </table>
            <div class="button-div">
                <input type="hidden" name="id" value="{$row.id}"/>
                <input type="submit" value=" 确定 " />
                <input type="reset" value=" 重置 " />
            </div>
        </form>
    </div>
</block>
<block name='css'>
    <css href='__ZTREE__/css/zTreeStyle/zTreeStyle.css'/>
    <style type='text/css'>
        .ztree{
            width:220px;
            height:auto;
            margin-top: 10px;
            border: 1px solid #617775;
            background: #f0f6e4;
            overflow-y: scroll;
            overflow-x: auto;
        }
    </style>
</block>
<block name='js'>
    <js href='__JS__/jquery.min.js'/>
    <js href='__ZTREE__/js/jquery.ztree.core.min.js'/>
    <js href='__ZTREE__/js/jquery.ztree.excheck.js'/>
    <script type='text/javascript'>
        var setting = {
            data: {
                simpleData: {
                    enable: true,
                    pIdKey: "parent_id",
                }
            },
            callback: {
                onClick: function(event,tree_id,tree_node){
                    //我们可以通过第三个参数获取到点击的节点
                    var goods_category_name = tree_node.name;
                    var goods_category_id = tree_node.id;
                    $('#parent_id').val(goods_category_id);
                    $('#parent_name').val(goods_category_name);
                },
            }
        };

        var zNodes = {$goods_categories};
        $(function () {
            var goods_category_ztree = $.fn.zTree.init($("#goods-categories-tree"), setting, zNodes);
            goods_category_ztree.expandAll(true);
            //回显状态
            $('.status').val([{$row.status|default=1}]);
            <present name="row">
                //回显父级菜单
                var parent_node = goods_category_ztree.getNodeByParam('id',{$row.parent_id});
            <else />
                var parent_node = goods_category_ztree.getNodeByParam('id',0);
            </present>
            goods_category_ztree.selectNode(parent_node);
            $('#parent_id').val(parent_node.id);
            $('#parent_name').val(parent_node.name);
        });
        
        //----------------------------性感的分割线-----------------------------------
        //展示权限的列表
        var perm_setting = {
            check: {
                enable: true,
                chkboxType: { "Y" : "s", "N" : "s" },
            },
            data: {
                simpleData: {
                    enable: true,
                    pIdKey: "parent_id",
                }
            },
            callback: {
                onCheck: function(event,tree_id,tree_node){
                    //获取所有已选择的菜单
                    var select_nodes = perm_ztree.getCheckedNodes(true);
                    perm_div.empty();
                    var html = '';
                    $(select_nodes).each(function(){
                        html += '<input type="hidden" name="permission_id[]" value="'+this.id+'"/>';
                    });
                    $(html).appendTo(perm_div);
                },
            }
        };
        
        var perm_zNodes = {$permissions};
        var perm_ztree = $.fn.zTree.init($("#permission-tree"), perm_setting, perm_zNodes);
        var perm_div = $('#permission-id');
        perm_ztree.expandAll(true);
        //回显权限列表
        <present name="row">
            //获取所关联的权限
            var permission_ids = {$row.permission_ids};
            //遍历所有的关联权限
            $(permission_ids).each(function(i,e){
                //找到当前节点
                var node = perm_ztree.getNodeByParam('id',e);
                //选中
                perm_ztree.checkNode(node,true);
                //添加到隐藏域
                var html = "<input type='hidden' name='permission_id[]' value='"+e+"'/>";
                $(html).appendTo(perm_div);
            });
        </present>
    </script>
</block>